@page "/animals/{animalId:guid}"
@using Adoptrix.Application.Features.Animals.Queries
@using Adoptrix.Application.Services
@using Adoptrix.Domain.Models
@using MediatR
@inject ISender Sender;
@inject IAnimalImageManager AnimalImageManager;

@if (animal is null)
{
    <PageTitle>Animal Details</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true">Animal Details</MudText>
    <MudText Typo="Typo.body1">Loading...</MudText>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7"/>
}
else
{
    <PageTitle>@animal.Name</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true">@animal.Name</MudText>

    <MudGrid>
        @* Images *@
        <MudItem xs="12">
            <DetailsBlock Title="Images">
                <div class="d-flex gap-2 flex-wrap justify-center">
                    @foreach (var image in animal.Images)
                    {
                    <MudImage Src="@GetThumbnailUrl(image)" Width="160" Height="160" Class="rounded-lg"/>
                    }
                </div>
            </DetailsBlock>
        </MudItem>

        @* Description *@
        <MudItem xs="12" md="6">
            <DetailsBlock Title="Description">
                <MudText Typo="Typo.body1">@animal.Description</MudText>
            </DetailsBlock>
        </MudItem>

        @* Details *@
        <MudItem xs="12" md="6">
            <DetailsBlock Title="Details">
                <MudList>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Breed</MudText>
                        <MudText Typo="Typo.body1">@animal.Breed.Name</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Sex</MudText>
                        <MudText Typo="Typo.body1">@animal.Sex</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Date of birth</MudText>
                        <MudText Typo="Typo.body1">@animal.DateOfBirth</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Age</MudText>
                        <MudText Typo="Typo.body1">@animal.Age</MudText>
                    </MudListItem>
                </MudList>
            </DetailsBlock>
        </MudItem>
    </MudGrid>
}

@code {

    private Animal? animal;

    [Parameter] public Guid AnimalId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetAnimalQuery(AnimalId));

        if (result.IsFailed)
        {
        }
        else
        {
            animal = result.Value;
        }
    }

    private string GetThumbnailUrl(AnimalImage image)
        => $"{AnimalImageManager.ContainerUri}/{image.GetBlobName(AnimalImageCategory.Thumbnail)}";

}
