@page "/animals/{animalSlug}"
@using Adoptrix.Contracts.Responses
@inject IAnimalsClient AnimalsClient;
@inject ImageUrlResolver ImageUrlResolver;

@if (animal is null)
{
    <PageTitle>Animal Details</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true">Animal Details</MudText>
    <MudText Typo="Typo.body1">Loading...</MudText>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7"/>
}
else
{
    <PageTitle>@animal.Name</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true">@animal.Name</MudText>

    <MudGrid>
        @* Images *@
        <MudItem xs="12">
            <DetailsBlock Title="Images">
                <div class="d-flex gap-2 flex-wrap justify-center">
                    @foreach (var image in animal.Images)
                    {
                        <MudImage Src="@(ImageUrlResolver.GetThumbUrl(animal.Slug, image.Id))" Width="160" Height="160" Class="rounded-lg"/>
                    }
                </div>
            </DetailsBlock>
        </MudItem>

        @* Description *@
        <MudItem xs="12" md="6">
            <DetailsBlock Title="Description">
                <MudText Typo="Typo.body1">@animal.Description</MudText>
            </DetailsBlock>
        </MudItem>

        @* Details *@
        <MudItem xs="12" md="6">
            <DetailsBlock Title="Details">
                <MudList T="AnimalResponse">
                    <MudListItem>
                        <MudText Typo="Typo.h6">Breed</MudText>
                        <MudText Typo="Typo.body1">@animal.Breed</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Sex</MudText>
                        <MudText Typo="Typo.body1">@animal.Sex</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Date of birth</MudText>
                        <MudText Typo="Typo.body1">@animal.DateOfBirth</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Age</MudText>
                        <MudText Typo="Typo.body1">@animal.Age</MudText>
                    </MudListItem>
                    <MudListItem>
                        <MudText Typo="Typo.h6">Date listed</MudText>
                        <MudText Typo="Typo.body1">@(animal.LastModifiedUtc.ToString("d"))</MudText>
                    </MudListItem>
                </MudList>
            </DetailsBlock>
        </MudItem>
    </MudGrid>
}

@code {

    private AnimalResponse? animal;

    [Parameter] public required string AnimalSlug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        animal = await AnimalsClient.GetAsync(AnimalSlug);
    }

}
